<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<header>
    <h2> All users</h2>
</header>
<body>
<div>
    <table>
        <tr>
            <th>name</th>
            <th>lvl</th>
            <th>coins</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.lvl}"></td>
            <td th:text="${user.coins}"></td>
            <td>
                <a th:href="@{/user/update/{id} (id=${user.id})}">Update</a>
            </td>
            <td>
                <a th:href="@{/user/delete/{id} (id=${user.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<div>
    <input type="button" value="Add new user"
           onclick="window.location.href = 'user/registration'"/>
</div>
</body>

</html>